.media-links,
.media-boxes,
.media-circles {
    width: fit-content;
    margin-block: 24px;

    a {
        text-decoration: none;
        transition: all 0.25s;
    }
}

.media-links {
    width: fit-content;

    .media-link {
        position: relative;
        padding-inline: 15px;

        font: {
            size: 20px;
            weight: 400
        }

        color: var(--as-white-color);

        &:hover {
            color: var(--as-main-color);
        }

        &:not(:last-child):after {
            position: absolute;
            content: "";
            width: 1px;
            height: 80%;
            background-color: rgba($color: #ddd, $alpha: 0.3);
            top: 10%;
            right: 0;

            &:hover {
                color: var(--as-white-color);

            }
        }
    }
}

.media-boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .media-box {
        background-color: transparent;
        color: var(--as-main-color);
        border: 1px solid var(--as-main-color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline-end: 12px;
        font-size: 20px;

        &:hover {
            background-color: var(--as-white-color);
            border-color: var(--as-white-color);

        }

        &:last-child {
            margin-inline-end: 0px;
        }
    }
}