
@import "./variables";
@import "./navbar";
@import "./home";
@import "./about";
@import "./expertise-area";
body
{
    background-color: $mainBg ;
    font: {
        family: $fontPoppins !important;
    };
    scroll-behavior: smooth;
}

