<div
    class="logo text-center z-10 py-16 pb-6 mb-8 relative after:absolute after:content-[''] after:bg-crimson after:top-[-210px] after:left-[-30px] after:bottom-0 after:right-0 after:h-[350px] after:w-[350px] after:z-[-1] after:rounded-br-full after:rounded-bl-full overflow-hidden">
    <div
        class="img w-24 h-24 rounded-full overflow-hidden border-4  border-solid border-cinder-dark dark:border-white-normal mx-auto mb-3 z-10">
        <img src="assets/imgs/logo.webp" alt="Ahmed Sherif" title="Ahmed Sherif" class=" max-w-full">
    </div>
    <h5 class=" font-light  tracking-[7px] uppercase text-center">Ahmed</h5>
</div>