<div class="layout h-screen flex flex-wrap text-black dark:text-white-normal ">
  <aside
    class="bg-white-titan dark:bg-cinder-dark w-[300px] max-w-[300px] h-full fixed lg:relative z-50 lg:translate-x-0 transition overflow-y-scroll lg:overflow-y-auto"
    [ngClass]="sideNavOpen ? 'translate-x-0' : '-translate-x-full'">
    <!-- nav component -->
    <app-nav></app-nav>
  </aside>
  <main role="main"
    class="bg-white-normal dark:bg-cinder-light h-full w-full lg:w-[calc(100vw_-_301px)] overflow-y-scroll relative">
    <!-- header -->
    <app-toolbar></app-toolbar>

    <!-- content -->
    <router-outlet></router-outlet>
    <!-- footer -->

    <!-- dark || light mode button -->
    <app-mode></app-mode>
  </main>
</div>