<div class="banner bg-white-titan dark:bg-cinder-dark my-10">
    <div class="container py-10 flex justify-center items-center flex-col mx-auto">
        <p class=" mb-4">Have any project in mind!</p>
        <h2 class=" text-3xl mb-4 tracking-[5px] sm:tracking-[10px]">JUST SAY HELLO</h2>
        <a routerLink="/contact"
            class=" border-crimson border-solid border w-40 text-center py-2 rounded-3xl text-crimson hover:text-white-normal hover:bg-crimson transition uppercase mr-0 md:mr-5 mb-5 md:mb-0">
            Hire Me
        </a>
    </div>
</div>