<section id="skills-section">
    <div class="container">
        <!-- title -->
        <div class="col-12">
            <h2 class="line-title text-uppercase fw-semi-bold mb-4 skills-section-title">my skills</h2>
        </div>
        <!-- icons  -->
        <div class="skills-icon d-none d-xl-block">
            <div class="row">

                <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let skill of skills">
                    <div class="skill">
                        <div class="front d-flex justify-content-center align-items-center flex-column">
                            <i [class]="skill.icon"></i>
                            <h3>{{skill.title | titlecase}}</h3>
                        </div>
                        <div class="back d-flex justify-content-center align-items-center flex-column">
                            <p class="text-white mb-4 text-capitalize">{{skill.info}}</p>
                            <a [href]="skill.src" target="_blank"
                                class="btn btn-primary btn-as btn-outline btn-skill">More
                                iNfo</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- slider  -->
        <div class="d-block d-xl-none">
            <swiper [config]="swiperConfig" class="mySwiper">
                <ng-template swiperSlide *ngFor="let skill of skills">
                    <div class="skill">
                        <div class="front d-flex justify-content-center align-items-center flex-column">
                            <i [class]="skill.icon"></i>
                            <h3>{{skill.title}}</h3>
                        </div>
                        <div class="back d-flex justify-content-center align-items-center flex-column">
                            <p class="text-white mb-4 text-capitalize">{{skill.info}}</p>
                            <a [href]="skill.src" target="_blank" class="btn btn-primary btn-as btn-outline btn-skill">
                                More iNfo
                            </a>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</section>