<div class="bg-white-titan dark:bg-cinder-dark p-8">
    <h2 class=" mb-5 text-3xl font-medium capitalize">
        What’s your story?
        <span class="inline xl:block text-crimson">
            Get in touch
        </span>
    </h2>

    <p class=" font-light leading-relaxed capitalize mb-5">
        Always available for freelancing if the right project comes along, Feel free to contact me.
    </p>

    <div class="method">
        <div class="method-icon">
            <i class="fa-solid fa-mobile-screen-button"></i>
        </div>
        <div class="method-description">
            <a href="tel:+201222353412">+2 01222353412</a>
        </div>
    </div>

    <div class="method">
        <div class="method-icon">
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="method-description">
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvrcjxnSNtkSDvcgcScgCtBpMQbhBJvpMkkLsDxJkQfQBqcBQqGtDDJzzlxMTCQBCHxLsB"
                target="_blank">
                ahmedsherifgml@gmail.com
            </a>
        </div>
    </div>

    <div class="method">
        <div class="method-icon">
            <i class="fa-solid fa-map-location-dot"></i>
        </div>
        <div class="method-description">
            Alexandria, Egypt
        </div>
    </div>
</div>