// ===================== G O O G L E   F O N T S =====================
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');


// ===================== P R O J E C T   G L O B E L   V A R I A B L E S  =====================
:root {
    --as-main-font: 'Poppins';
    --as-signature-font: 'Mrs Saint Delafield';
    --as-main-color: #e0b068;
    --as-second-color: #111;
    --as-third-color: #222;
    --as-white-color: #fff;

    --as-page-min-height: 100vh;
    --as-page-top-space: 111px;

}


html,
body {
    font: {
        family: var(--as-main-font)
    }

    ;
    scroll-behavior: smooth;
}

body {
    background-color: var(--as-second-color);
    perspective: 1000px;
}

/* ===== S C R O L L B A R   C S S  ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #e0b068 #222222;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #222222;
}

*::-webkit-scrollbar-thumb {
    background-color: #e0b068;
    border-radius: 10px;
    border: 3px solid #e0b068;
}

// ================== S H A R E D   C L A S S E S  ==================
.fw-semi-bold {
    font-weight: 600;
}

.line-title {

    &::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 2px;
        border-radius: 2px;
        margin-inline-end: 6px;
        line-height: 2px;
        background-color: var(--as-main-color);
        vertical-align: middle;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .btn:not(:last-child) {
        margin-inline-end: 18px;
    }
}


.btn-as {
    border-radius: 5px;
    padding: 10px 0;
    width: 175px;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-contain {
    background-color: var(--as-main-color);
    border-color: var(--as-main-color);


    &:hover,
    &:focus {
        color: var(--as-white-color);
        border-color: var(--as-white-color);
        background-color: transparent;
    }

}

.btn-outline {
    color: var(--as-white-color);
    border-color: var(--as-white-color);
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: var(--as-main-color);
        border-color: var(--as-main-color);
    }

    &:focus {
        box-shadow: var(--as-main-color);
    }
}

// ================== S W I P E R    A R R O W S  &  B U L L E T S    S T Y L E ==================

// arrows
.swiper-button-prev,
.swiper-button-next {
    color: var(--as-main-color);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

// bullets
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
}

// active bullet
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--as-main-color);
    opacity: 1;
    width: 25px;
    border-radius: 25px;
    transition: 0.25s;
}

// target all bullets 
.swiper-pagination-bullet {
    background-color: var(--as-white-color);
    opacity: 1;
    transition: 0.25s;

}