<section id="info-section">
    <div class="container">
        <div class="info-content">
            <div class="row">
                <div class="col-lg-5">
                    <div class="info-img d-none d-lg-flex justify-content-center align-items-center">
                        <img src="../../../assets/images/about/port.png" alt="me" class=" img-fluid rounded-3 ">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="info-information">
                        <h2 class="line-title text-uppercase fw-semi-bold mb-3">About</h2>
                        <p>
                            I'm an Egyptian based in Alexandria, Egypt and I am working as a Full Stack Developer, I
                            use my knowledge of HTML, CSS, JavaScript, Angular, React , ExpressJs, & NodeJs to build
                            websites and web applications,
                            which is responsive to different devices and in line with the latest design trends, I
                            love to work with developers teams and share the experience with each other and do my
                            job perfectly.
                        </p>
                        <h2 class="signature">Ahmed Sherif</h2>
                        <div class="btn-container">
                            <a routerLink="/" class="btn btn-primary btn-as btn-contain">Hire Me</a>
                            <a routerLink="/" class="btn btn-primary btn-as btn-outline">my Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>